:root {
  /* Colors */
  --color-vibrant-labels-vibrant-tertiary: #7f7f7f;
  --color-colours-white: #ffffff;
  --color-back: #000000;
  --color-semantics-grayscale-shades-60: #666666;
  --color-colours-black: #000000;
  --color-semantics-grayscale-shades-20: #c6c6c6;
  --color-m3-sys-light-on-surface: #1d1b20;
  --color-m3-sys-light-secondary-container: #e8def8;
  --color-m3-sys-light-on-tertiary-container: #633b48;
  --color-m3-sys-light-tertiary-container: #ffd8e4;
  --color-m3-state-layers-light-ontertiarycontainer-opacity-0-08: #633b48;
  --color-m3-sys-light-secondary: #625b71;
  --color-m3-state-layers-light-ontertiarycontainer-opacity-0-10: #633b48;
  --color-m3-sys-light-on-tertiary: #ffffff;
  --color-m3-sys-light-tertiary: #7d5260;
  --color-m3-state-layers-light-ontertiary-opacity-0-08: #ffffff;
  --color-m3-state-layers-light-ontertiary-opacity-0-10: #ffffff;
  --color-m3-sys-light-on-secondary-container: #4a4459;
  --color-m3-state-layers-light-onsecondarycontainer-opacity-0-08: #4a4459;
  --color-m3-state-layers-light-onsecondarycontainer-opacity-0-10: #4a4459;
  --color-m3-sys-light-on-secondary: #ffffff;
  --color-m3-state-layers-light-onsecondary-opacity-0-08: #ffffff;
  --color-m3-state-layers-light-onsecondary-opacity-0-10: #ffffff;
  --color-m3-sys-light-on-primary-container: #4f378a;
  --color-m3-sys-light-primary-container: #eaddff;
  --color-m3-state-layers-light-onprimarycontainer-opacity-0-08: #4f378a;
  --color-m3-state-layers-light-onprimarycontainer-opacity-0-10: #4f378a;
  --color-m3-sys-light-on-primary: #ffffff;
  --color-m3-sys-light-primary: #6750a4;
  --color-m3-state-layers-light-onprimary-opacity-0-08: #ffffff;
  --color-m3-state-layers-light-onprimary-opacity-0-10: #ffffff;
  --color-m3-sys-light-surface-container: #f3edf7;
  --color-m3--add-on-section-background: #f5f5f5;
  --color-m3-sys-light-on-surface-variant: #49454f;
  --color-m3-sys-light-surface: #fef7ff;
  --color-m3-sys-light-scrim: #000000;
  --color-primary-gray-storm-80: #1d1d1d;
  --color-primary-gray-storm-20: #c4c4c4;
  --color-primary-gray-10: #dadde8;
  --color-semantics-grayscale-shades-40: #939393;
  --color-semantics-grayscale-shades-5: #eaeaea;
  --color-semantics-grayscale-shades-80: #313131;
  --color-semantics-grayscale-shades-70: #4c4c4c;
  --color-gray-600: #475569;
  --color-primary-green-grass-30---: #88e655;
  --color-primary-gray-storm-70: #2b2b2b;
  --color-systemorange---light: #ff9500;
  --color-label-color---light---primary: #000000;
  --color-semantics-grayscale-shades-10: #dbdbdb;
  --color-primary-gray-storm-90: #0a0a0a;
  --color-primary-gray-storm-10: #d9d9d9;
  --color-primary-gray-storm-5: #eaeaea;
  --color-semantics-grayscale-shades-30: #adadad;
  --color-semantics-grayscale-shades-50: #7a7a7a;
  --color-semantics---info-blue-30: #2168b9;
  --color-secondary-olive-garden-80: #0f3309;
  --color-semantics-grayscale-shades-90: #1c1c1c;
  --color-semantics-grayscale-shades-0: #f9f9f9;

  /* Typography */
  --font-tittle-3xl-family: 'Hanken grotesk ';
  --font-tittle-3xl-size: 120.0px;
  --font-tittle-3xl-weight: 900;
  --font-footnote-regular-family: 'Geist';
  --font-footnote-regular-size: 13.0px;
  --font-footnote-regular-weight: 400;
  --font-callout-regular-family: 'Geist';
  --font-callout-regular-size: 16.0px;
  --font-callout-regular-weight: 400;
  --font-body-emphasized-family: 'Geist';
  --font-body-emphasized-size: 17.0px;
  --font-body-emphasized-weight: 600;
  --font-subheadline-regular-family: 'Geist';
  --font-subheadline-regular-size: 15.0px;
  --font-subheadline-regular-weight: 400;
  --font-headline-emphasis-family: 'Geist';
  --font-headline-emphasis-size: 17.0px;
  --font-headline-emphasis-weight: 600;
  --font-footnote-emphasized-family: 'Geist';
  --font-footnote-emphasized-size: 13.0px;
  --font-footnote-emphasized-weight: 600;
  --font-caption2-regular-family: 'Geist';
  --font-caption2-regular-size: 11.0px;
  --font-caption2-regular-weight: 400;
  --font-caption1-emphasized-family: 'Geist';
  --font-caption1-emphasized-size: 12.0px;
  --font-caption1-emphasized-weight: 500;
  --font-body-regular-family: 'Geist';
  --font-body-regular-size: 17.0px;
  --font-body-regular-weight: 400;
  --font-caption2-emphasized-family: 'Geist';
  --font-caption2-emphasized-size: 11.0px;
  --font-caption2-emphasized-weight: 600;
  --font-caption1-regular-family: 'Geist';
  --font-caption1-regular-size: 12.0px;
  --font-caption1-regular-weight: 400;
  --font-subheadline-emphasized-family: 'Geist';
  --font-subheadline-emphasized-size: 15.0px;
  --font-subheadline-emphasized-weight: 600;
  --font-title2-emphasized-family: 'Geist';
  --font-title2-emphasized-size: 22.0px;
  --font-title2-emphasized-weight: 700;
  --font-callout-emphasized-family: 'Geist';
  --font-callout-emphasized-size: 16.0px;
  --font-callout-emphasized-weight: 600;
  --font-title1-emphasized-family: 'Geist';
  --font-title1-emphasized-size: 28.0px;
  --font-title1-emphasized-weight: 700;
  --font-14-label-14-semi-family: 'Manrope';
  --font-14-label-14-semi-size: 14.0px;
  --font-14-label-14-semi-weight: 600;
  --font-16-label-16-family: 'Manrope';
  --font-16-label-16-size: 16.0px;
  --font-16-label-16-weight: 700;
  --font-caption1-bold-family: 'Geist';
  --font-caption1-bold-size: 12.0px;
  --font-caption1-bold-weight: 700;
  --font-callout-italic-family: 'Geist';
  --font-callout-italic-size: 16.0px;
  --font-callout-italic-weight: 400;
  --font-large-title-emphasized-family: 'Geist';
  --font-large-title-emphasized-size: 34.0px;
  --font-large-title-emphasized-weight: 700;
  --font-caption2-emphasized-italic-family: 'Geist';
  --font-caption2-emphasized-italic-size: 11.0px;
  --font-caption2-emphasized-italic-weight: 400;
  --font-title3-emphasized-family: 'Geist';
  --font-title3-emphasized-size: 20.0px;
  --font-title3-emphasized-weight: 600;
  --font-sub-heading-base---18-semibold-family: 'Hanken grotesk ';
  --font-sub-heading-base---18-semibold-size: 18.0px;
  --font-sub-heading-base---18-semibold-weight: 600;
  --font-caption-small-family: 'roboto';
  --font-caption-small-size: 16.0px;
  --font-caption-small-weight: 400;
  --font-heading-h1-family: 'Hanken grotesk ';
  --font-heading-h1-size: 72.0px;
  --font-heading-h1-weight: 900;
  --font-sub-heading-large--20-bold-family: 'Hanken grotesk ';
  --font-sub-heading-large--20-bold-size: 20.0px;
  --font-sub-heading-large--20-bold-weight: 700;
  --font-body-base---regular-family: 'roboto';
  --font-body-base---regular-size: 16.0px;
  --font-body-base---regular-weight: 400;
  --font-sub-heading-extralarge---20-bold-family: 'Hanken grotesk ';
  --font-sub-heading-extralarge---20-bold-size: 22.0px;
  --font-sub-heading-extralarge---20-bold-weight: 900;
  --font-caption-button-family: 'roboto';
  --font-caption-button-size: 18.0px;
  --font-caption-button-weight: 600;
  --font-heading-h5-family: 'Hanken grotesk ';
  --font-heading-h5-size: 32.0px;
  --font-heading-h5-weight: 900;
  --font-heading-h3-family: 'Hanken grotesk ';
  --font-heading-h3-size: 52.0px;
  --font-heading-h3-weight: 900;
  --font-heading-h6-family: 'Hanken grotesk ';
  --font-heading-h6-size: 24.0px;
  --font-heading-h6-weight: 900;
  --font-body-base---medium-family: 'roboto';
  --font-body-base---medium-size: 16.0px;
  --font-body-base---medium-weight: 500;
  --font-heading-h2-family: 'Hanken grotesk ';
  --font-heading-h2-size: 60.0px;
  --font-heading-h2-weight: 900;
  --font-caption-extra-small-family: 'roboto';
  --font-caption-extra-small-size: 14.0px;
  --font-caption-extra-small-weight: 600;
  --font-caption-small---italic-family: 'roboto';
  --font-caption-small---italic-size: 16.0px;
  --font-caption-small---italic-weight: 400;
  --font-m3-title-medium-family: 'Roboto';
  --font-m3-title-medium-size: 16.0px;
  --font-m3-title-medium-weight: 500;
  --font-caption-outline-family: 'roboto';
  --font-caption-outline-size: 12.0px;
  --font-caption-outline-weight: 400;
  --font-body-small---regular-family: 'roboto';
  --font-body-small---regular-size: 14.0px;
  --font-body-small---regular-weight: 400;
  --font-tittle-2xl-family: 'Hanken grotesk ';
  --font-tittle-2xl-size: 96.0px;
  --font-tittle-2xl-weight: 600;
  --font-body-small---medium-family: 'roboto';
  --font-body-small---medium-size: 14.0px;
  --font-body-small---medium-weight: 500;
  --font-body-extra-small-family: 'roboto';
  --font-body-extra-small-size: 12.0px;
  --font-body-extra-small-weight: 400;
  --font-tittle-s-family: 'Hanken grotesk ';
  --font-tittle-s-size: 22.0px;
  --font-tittle-s-weight: 600;
  --font-tittle-m-family: 'Hanken grotesk ';
  --font-tittle-m-size: 28.0px;
  --font-tittle-m-weight: 600;
  --font-tittle-sm-family: 'Hanken grotesk ';
  --font-tittle-sm-size: 18.0px;
  --font-tittle-sm-weight: 600;
  --font-heading-h6-family: 'inter';
  --font-heading-h6-size: 22.0px;
  --font-heading-h6-weight: 400;
  --font-m3-label-medium-family: 'Roboto';
  --font-m3-label-medium-size: 12.0px;
  --font-m3-label-medium-weight: 500;
  --font-m3-body-large-family: 'Roboto';
  --font-m3-body-large-size: 16.0px;
  --font-m3-body-large-weight: 400;
  --font-m3-body-medium-family: 'Roboto';
  --font-m3-body-medium-size: 14.0px;
  --font-m3-body-medium-weight: 400;
  --font-m3-label-large-family: 'Roboto';
  --font-m3-label-large-size: 14.0px;
  --font-m3-label-large-weight: 500;
  --font-body-base---semibold-family: 'roboto';
  --font-body-base---semibold-size: 16.0px;
  --font-body-base---semibold-weight: 600;
  --font-tittle-xl-family: 'Hanken grotesk ';
  --font-tittle-xl-size: 64.0px;
  --font-tittle-xl-weight: 600;
  --font-text-l-family: 'Inter';
  --font-text-l-size: 20.0px;
  --font-text-l-weight: 400;
  --font-tittle-l-family: 'Hanken grotesk ';
  --font-tittle-l-size: 44.0px;
  --font-tittle-l-weight: 900;
  --font-heading-h4-family: 'Hanken grotesk ';
  --font-heading-h4-size: 40.0px;
  --font-heading-h4-weight: 600;
  --font-title-xs-family: 'Montserrat';
  --font-title-xs-size: 24.0px;
  --font-title-xs-weight: 700;
  --font-tag-m-family: 'Inter';
  --font-tag-m-size: 16.0px;
  --font-tag-m-weight: 400;
  --font-title-s-family: 'Montserrat';
  --font-title-s-size: 40.0px;
  --font-title-s-weight: 700;
  --font-text-m-family: 'Inter';
  --font-text-m-size: 16.0px;
  --font-text-m-weight: 400;
  --font-text-xxl-bold-family: 'Inter';
  --font-text-xxl-bold-size: 36.0px;
  --font-text-xxl-bold-weight: 700;
  --font-text-xl-family: 'Inter';
  --font-text-xl-size: 24.0px;
  --font-text-xl-weight: 400;
  --font-title-l-family: 'Montserrat';
  --font-title-l-size: 76.0px;
  --font-title-l-weight: 700;
  --font-tag-xl-family: 'Inter';
  --font-tag-xl-size: 26.0px;
  --font-tag-xl-weight: 400;
  --font-tag-l-family: 'Inter';
  --font-tag-l-size: 20.0px;
  --font-tag-l-weight: 400;
}